@import "tailwindcss";


/* .leaflet-tile {
  filter: brightness(40%) contrast(110%) !important;
} */
/* :root {
  --background: #a3c9cf;
} */

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #62666b; */
    /* --foreground: #ededed; */
  }
}

body {

  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
@theme {
 
  --animate-scale-slow: scale 1s ease-in-out infinite;
}

@keyframes scale {
  0%, 100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }
}



/* marker css */
.custom-cluster {
  background: transparent;
}

.custom-cluster div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff830e;
  color: white;
  font-weight: 700;
  border: 2px solid white;
}



/* animation  */
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.scroll_reveal {
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#progress{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: firebrick;
  transform-origin: 0 50%;
  animation: growprogress 2s linear;
  animation-timeline: scroll();
}

@keyframes growprogress {
  from {
    transform: scaleX(0);


  }
  to{
    transform: scaleX(1);
  }
}




/* water drop for navbar */
/* =========================================================
   CONNECTED NAVIGATION
   ========================================================= */

.nav {
  position: relative;

  display: flex;
  align-items: center;

  gap: 4px;

  width: fit-content;

  padding: 7px;

  border-radius: 30px;

  background: rgba(255, 255, 255, 1);

  box-shadow:
    inset 2px 2px 8px rgba(0, 0, 0, 0.06),
    inset -2px -2px 8px rgba(255, 255, 255, 0.8),
    10px 15px 30px rgba(0, 0, 0, 0.08);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  overflow: hidden;
}


/* =========================================================
   BUTTON
   ========================================================= */

.nav-btn {
  position: relative;

  z-index: 3;

  border: 0;
  outline: 0;

  background: transparent;

  padding: 14px 25px;

  border-radius: 30px;

  color: #555;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;

  text-decoration: none;

  transition: color 0.3s ease;
}

.nav-btn.active {
  color: #111;
}


/* =========================================================
   WATER
   ========================================================= */

.water {
  position: absolute;

  z-index: 1;

  width: 90px;
  height: 80px;

  left: 0;
  top: 0;

  border-radius:
    48% 52% 55% 45% /
    53% 45% 55% 47%;

  background: rgba(0, 255, 255, 0.15);

  box-shadow:
    inset 18px 18px 20px #0000000d,
    inset -18px -18px 24px #ffffffe6,
    12px 18px 22px #00000012;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  pointer-events: none;

  will-change: transform;
}


/* =========================================================
   WATER HIGHLIGHTS
   ========================================================= */

.water-light {
  position: absolute;

  display: block;

  background: #e8edf2;

  pointer-events: none;

  border-radius: 50%;
}


/* Small reflection */

.light-1 {
  width: 8px;
  height: 8px;

  left: 23%;
  top: 23%;

  opacity: 0.55;
}


/* Big reflection */

.light-2 {
  width: 17px;
  height: 17px;

  left: 13%;
  top: 13%;

  opacity: 0.85;

  transform: skew(10deg);
}


/* =========================================================
   LIQUID DISTORTION
   ========================================================= */

.nav:hover .water {
  box-shadow:
    inset 18px 18px 20px #0000000d,
    inset -20px -20px 28px #ffffffe6,
    12px 18px 22px #00000012;
}